<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/component/sidebars.css">
</head>
<body>

    <div class="scroll-area">

        <h3 class="heading">Design Mode</h3>

        <h4 class="subheading">categorize by type</h4>

        <div id="furniture-category-bt-container" class="room-category-section">
            <div class="button-item">
                <button id="chair-type-bt" class="room-category-button" style="background-image: url('/res/ui/room-category-office-bt.png');"></button>
                <p class="button-label">chair</p>
            </div>
            <div class="button-item">
                <button id="table-type-bt" class="room-category-button" style="background-image: url('/res/ui/room-category-lroom-bt.png');"></button>
                <p class="button-label">table</p>
            </div>
            <div class="button-item">
                <button id="etc-type-bt" class="room-category-button" style="background-image: url('/res/ui/furniture-category-other-bt.png');"></button>
                <p class="button-label">other</p>
            </div>
        </div>


        <h4 class="subheading">categorize by room</h4>

        <div id="room-category-bt-container" class="room-category-section">
            <div class="button-item">
                <button id="office-category-bt" class="room-category-button" style="background-image: url('/res/ui/room-category-office-bt.png');"></button>
                <p class="button-label">office</p>
            </div>
            <div class="button-item">
                <button id="lroom-category-bt" class="room-category-button" style="background-image: url('/res/ui/room-category-lroom-bt.png');"></button>
                <p class="button-label">living room</p>
            </div>
            <div class="button-item">
                <button id="kitchen-category-bt" class="room-category-button" style="background-image: url('/res/ui/room-category-kitchen-bt.png');"></button>
                <p class="button-label">kitchen</p>
            </div>
        </div>

        <h4 class="subheading">furnitures</h4>

        <div id="catalog" class="catalog-section">
        </div>

    </div>

</body>
</html>