body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.scroll-area {
    overflow-y: auto;
    max-height: calc(100vh - 58px);
}

.scroll-area::-webkit-scrollbar {
    width: 8px;
}

.scroll-area::-webkit-scrollbar-thumb {
    background-color: #422800;
    border-radius: 3px;
}

.heading {
    font-family: sans-serif;
    margin-left: 2%;
}

.subheading {
    margin: 10% 0 0 5%;
    font-family: sans-serif;
}

.box {
    border: 2px #422800 dashed;
    padding: 10px;
    margin: -0.5% 10px 5px 10px;
    /*width: fit-content;*/
}

.input-group {
    margin-top: 5px;
}

.label {
    font-family: sans-serif;
    color: #422800;
    font-weight: bold;
}

.input {
    width: 50px;
    margin-left: 5px;
    padding: 5px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    box-shadow: #422800 2px 2px 0 0;
}

.grid-settings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox {
    margin-right: 5px;
    border: 2px solid #422800;
    box-shadow: #422800 2px 2px 0 0;
}

.grid-options {
    margin-left: 20px;
}

.toggle-wall-draw-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 5px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 14px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.toggle-wall-draw-button:hover {
    background-color: #fff;
}

.toggle-wall-draw-button:active {
    box-shadow: #422800 1px 1px 0 0;
    transform: translate(2px, 2px);
}

.toggle-wall-draw-button.active {
    background-color: #fbeee0;
    box-shadow: #422800 1px 1px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .toggle-wall-draw-button {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* Furniture Catalog */
.catalog-section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    padding: 15px;
    margin: 5px;

    max-height: 400px;
    overflow-y: auto;
    border: 2px #422800 dashed;
    background: #fbeee0;
}

.catalog-section::-webkit-scrollbar {
    width: 8px;
}

.catalog-section::-webkit-scrollbar-thumb {
    background-color: #422800;
    border-radius: 3px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
}

.catalog-button {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.catalog-label {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* RoomType Section */
.room-category-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    gap: 15px;
    justify-content: start;
    padding: 5px;
    margin: 5px;

    max-height: 400px;
    overflow-y: auto;
    border: 2px #422800 dashed;
    background: #fbeee0;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    text-align: center;
}

.room-category-button {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    border: none;
    cursor: pointer;
}

.room-category-button.active {
    opacity: 1;
}

.button-label{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}